body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  padding: 30px 0px 0px;
  border: 1px solid black;
}
.chart {
  display: flex;
  align-items: flex-end;
  width: 90%;
  border-bottom: 1px solid black;
  justify-content: center;
}
.names {
  display: flex;
  width: 100%;
  margin : 1em;
  justify-content: center;
}
.chart > div{
  width: 60px;
  margin-left: 10px; 
  box-shadow: 4px -1px 2px rgb(154, 172, 238);
  background-color: rgb(80, 98, 164);
}
.names > div{
  margin-left: 15px; 
  transform: rotate(-30deg);
}
